@import "@coffee/brand/customer-theme.css";
@font-face{font-family:'Bree Serif';src:url('/fonts/bree.ttf') format('truetype');font-display:swap;font-weight:400}@font-face{font-family:'DM Sans';src:url('/fonts/dm-sans.ttf') format('truetype');font-display:swap;font-weight:400}
